name: CI

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Pub get
        run: flutter pub get

      - name: Format (fail if changes)
        run: dart format --set-exit-if-changed .

      - name: Analyze
        run: flutter analyze

      - name: Tests (if any)
        run: flutter test
